$ralway-font: 'Raleway', sans-serif;
$roboto-font: 'Roboto', sans-serif;

/* Fonts Weight */
$light-font: 300;
$regular-font: 400;
$medium-font: 500;
$semibold-font: 600;
$bold-font: 700;

/* Color */
$orrange-color: #cf2817;

$orange:#EB5536;
$teal:#31888E;
$green:#008d4c;
$yellow-green:#BDD246;
$light-green:#00a850;
$yellow:#DF7400;
$smoke-gray:#333F3F;
$pink:#EE0067;
$blue-gray:#2C4A64;

